.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:32.916000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(47,84,150);}
.fs2{font-size:44.000000px;}
.fs1{font-size:52.000000px;}
.fs0{font-size:64.000000px;}
.y10{bottom:88.006008px;}
.y45{bottom:96.837035px;}
.yf{bottom:102.497008px;}
.y44{bottom:119.328002px;}
.y5{bottom:122.000000px;}
.y43{bottom:141.819030px;}
.y25{bottom:161.408019px;}
.y42{bottom:164.309997px;}
.y24{bottom:183.899047px;}
.y41{bottom:186.801024px;}
.y32{bottom:205.874022px;}
.y23{bottom:206.390014px;}
.y40{bottom:209.292052px;}
.y18{bottom:210.434997px;}
.y31{bottom:228.365050px;}
.y22{bottom:228.881008px;}
.y3f{bottom:231.783019px;}
.y17{bottom:232.926024px;}
.y21{bottom:243.372008px;}
.y30{bottom:250.856017px;}
.y3e{bottom:254.274016px;}
.y16{bottom:255.417022px;}
.y20{bottom:265.863036px;}
.y2f{bottom:273.347014px;}
.y3d{bottom:276.765014px;}
.y15{bottom:277.908019px;}
.y19{bottom:285.000000px;}
.y2e{bottom:295.838012px;}
.y33{bottom:296.000000px;}
.y14{bottom:300.399016px;}
.y26{bottom:315.000000px;}
.y13{bottom:322.890014px;}
.y12{bottom:345.381011px;}
.y11{bottom:365.000000px;}
.y1f{bottom:391.917022px;}
.ye{bottom:412.301022px;}
.y1e{bottom:414.408019px;}
.y4d{bottom:423.953032px;}
.yd{bottom:426.792022px;}
.y1d{bottom:436.899016px;}
.y4{bottom:437.679015px;}
.y4c{bottom:446.444030px;}
.y2d{bottom:446.863028px;}
.yc{bottom:449.283016px;}
.y1c{bottom:459.390014px;}
.y3{bottom:460.170012px;}
.yb{bottom:463.774016px;}
.y4b{bottom:468.935027px;}
.y3c{bottom:472.799032px;}
.y0{bottom:479.500000px;}
.y1b{bottom:481.881011px;}
.ya{bottom:486.265011px;}
.y2c{bottom:493.749016px;}
.y3b{bottom:497.194027px;}
.y9{bottom:500.756011px;}
.y1a{bottom:504.372024px;}
.y2b{bottom:508.240017px;}
.y3a{bottom:511.685027px;}
.y2a{bottom:522.731017px;}
.y8{bottom:523.247024px;}
.y39{bottom:534.176024px;}
.y4a{bottom:536.408031px;}
.y29{bottom:545.222027px;}
.y7{bottom:545.738021px;}
.y49{bottom:550.899032px;}
.y38{bottom:556.667022px;}
.y28{bottom:559.713027px;}
.y48{bottom:573.390029px;}
.y37{bottom:579.158019px;}
.y47{bottom:595.881026px;}
.y36{bottom:601.649032px;}
.y46{bottom:615.500000px;}
.y35{bottom:624.140026px;}
.y34{bottom:638.631026px;}
.y2{bottom:701.954023px;}
.y27{bottom:738.397024px;}
.y1{bottom:742.666025px;}
.y6{bottom:757.522024px;}
.h4{height:30.486328px;}
.h3{height:35.546875px;}
.h2{height:43.750000px;}
.ha{height:110.000000px;}
.h1{height:218.000000px;}
.h6{height:360.500000px;}
.h8{height:419.000000px;}
.h9{height:429.500000px;}
.h7{height:485.000000px;}
.h5{height:631.000000px;}
.h0{height:841.900024px;}
.w6{width:89.500000px;}
.w4{width:206.000000px;}
.w3{width:209.000000px;}
.w2{width:262.000000px;}
.w5{width:287.500000px;}
.w1{width:360.500000px;}
.w0{width:595.299988px;}
.x0{left:72.000000px;}
.x1{left:90.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:43.888000pt;}
.fs2{font-size:58.666667pt;}
.fs1{font-size:69.333333pt;}
.fs0{font-size:85.333333pt;}
.y10{bottom:117.341344pt;}
.y45{bottom:129.116047pt;}
.yf{bottom:136.662678pt;}
.y44{bottom:159.104003pt;}
.y5{bottom:162.666667pt;}
.y43{bottom:189.092040pt;}
.y25{bottom:215.210692pt;}
.y42{bottom:219.079995pt;}
.y24{bottom:245.198729pt;}
.y41{bottom:249.068033pt;}
.y32{bottom:274.498697pt;}
.y23{bottom:275.186685pt;}
.y40{bottom:279.056070pt;}
.y18{bottom:280.579995pt;}
.y31{bottom:304.486734pt;}
.y22{bottom:305.174678pt;}
.y3f{bottom:309.044025pt;}
.y17{bottom:310.568033pt;}
.y21{bottom:324.496011pt;}
.y30{bottom:334.474689pt;}
.y3e{bottom:339.032022pt;}
.y16{bottom:340.556029pt;}
.y20{bottom:354.484048pt;}
.y2f{bottom:364.462686pt;}
.y3d{bottom:369.020018pt;}
.y15{bottom:370.544025pt;}
.y19{bottom:380.000000pt;}
.y2e{bottom:394.450682pt;}
.y33{bottom:394.666667pt;}
.y14{bottom:400.532022pt;}
.y26{bottom:420.000000pt;}
.y13{bottom:430.520018pt;}
.y12{bottom:460.508015pt;}
.y11{bottom:486.666667pt;}
.y1f{bottom:522.556029pt;}
.ye{bottom:549.734695pt;}
.y1e{bottom:552.544025pt;}
.y4d{bottom:565.270710pt;}
.yd{bottom:569.056029pt;}
.y1d{bottom:582.532022pt;}
.y4{bottom:583.572020pt;}
.y4c{bottom:595.258706pt;}
.y2d{bottom:595.817370pt;}
.yc{bottom:599.044022pt;}
.y1c{bottom:612.520018pt;}
.y3{bottom:613.560017pt;}
.yb{bottom:618.365355pt;}
.y4b{bottom:625.246703pt;}
.y3c{bottom:630.398710pt;}
.y0{bottom:639.333333pt;}
.y1b{bottom:642.508015pt;}
.ya{bottom:648.353348pt;}
.y2c{bottom:658.332021pt;}
.y3b{bottom:662.925369pt;}
.y9{bottom:667.674681pt;}
.y1a{bottom:672.496031pt;}
.y2b{bottom:677.653356pt;}
.y3a{bottom:682.246703pt;}
.y2a{bottom:696.974689pt;}
.y8{bottom:697.662698pt;}
.y39{bottom:712.234699pt;}
.y4a{bottom:715.210709pt;}
.y29{bottom:726.962702pt;}
.y7{bottom:727.650695pt;}
.y49{bottom:734.532042pt;}
.y38{bottom:742.222696pt;}
.y28{bottom:746.284036pt;}
.y48{bottom:764.520039pt;}
.y37{bottom:772.210692pt;}
.y47{bottom:794.508035pt;}
.y36{bottom:802.198709pt;}
.y46{bottom:820.666667pt;}
.y35{bottom:832.186701pt;}
.y34{bottom:851.508035pt;}
.y2{bottom:935.938698pt;}
.y27{bottom:984.529366pt;}
.y1{bottom:990.221367pt;}
.y6{bottom:1010.029366pt;}
.h4{height:40.648438pt;}
.h3{height:47.395833pt;}
.h2{height:58.333333pt;}
.ha{height:146.666667pt;}
.h1{height:290.666667pt;}
.h6{height:480.666667pt;}
.h8{height:558.666667pt;}
.h9{height:572.666667pt;}
.h7{height:646.666667pt;}
.h5{height:841.333333pt;}
.h0{height:1122.533366pt;}
.w6{width:119.333333pt;}
.w4{width:274.666667pt;}
.w3{width:278.666667pt;}
.w2{width:349.333333pt;}
.w5{width:383.333333pt;}
.w1{width:480.666667pt;}
.w0{width:793.733317pt;}
.x0{left:96.000000pt;}
.x1{left:120.000000pt;}
}
